.logo-img{

    width: 25%;

}

.ion-text-center{

    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}

/* ion-item {
    --padding-start: 20px;
  } */

