.logo-img{

    width: 10%;
    /* display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0; */
}


.ion-text-center{

    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}