#logo{

    width: 10%;
    /* display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0; */
}

/* ion-title{

    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;


}
 */
