


ion-title{

    /* background-color: rgb(201, 10, 10); */
    color: black;

}



#logoTopo{

    background-color: black;
    width: 20%;

}

#logo{

    width: 30%;



}

h5{

    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;

} 