<ion-content>

  <ion-grid>

    <ion-toolbar>

     
      <img id="logoTopo" src="https://th.bing.com/th/id/OIG.SG4NLN5ApaXa6H_dShrf?pid=ImgGn">
      <ion-title> Cardápio </ion-title>
      
    </ion-toolbar>

    

  </ion-grid>


      <h5> Tradicional </h5>
      <hr style="background-color: rgb(101, 102, 102);">

    <ion-item>
    
      <ion-label>
      
        <img id="logo" src="https://th.bing.com/th/id/OIG.SG4NLN5ApaXa6H_dShrf?pid=ImgGn"> 
        <h3> Nº 1 </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
    
      </ion-label>
  
    </ion-item>

    <br>
  
    <ion-item>
    
      <ion-label>
    
        <img id="logo" src="https://th.bing.com/th/id/OIG.SG4NLN5ApaXa6H_dShrf?pid=ImgGn"> 
        <h3> Nº 2 </h3>
        <p>Default detail - detail arrow displays on iOS only</p>
    
      </ion-label>
  
    </ion-item>
  
    <br>

    <ion-item>
  
      <ion-label>

        <img id="logo" src="https://th.bing.com/th/id/OIG.SG4NLN5ApaXa6H_dShrf?pid=ImgGn"> 
        <h3> Nº 3 </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
  
      </ion-label>
  
    </ion-item>
  
    <br>

    <ion-item>
    
      <ion-label>
    
        <img id="logo" src="https://th.bing.com/th/id/OIG.SG4NLN5ApaXa6H_dShrf?pid=ImgGn"> 
        <h3> N° 4 </h3>
        <p>Detail set to false - detail arrow hidden on both modes</p>
    
      </ion-label>
  
    </ion-item>
  
    <br> 

    <ion-item>
   
      <ion-label>
   
        <img id="logo" src="https://th.bing.com/th/id/OIG.SG4NLN5ApaXa6H_dShrf?pid=ImgGn"> 
        <h3> Nº 5  </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
        <p>Detail icon set to caret-forward-outline</p>
   
      </ion-label>
  
    </ion-item>


    <h5> Artesanais </h5>
    <hr style="background-color: rgb(101, 102, 102);">

    <ion-item>
    
      <ion-label>
      
        <img id="logo" src="https://th.bing.com/th/id/OIG.SG4NLN5ApaXa6H_dShrf?pid=ImgGn"> 
        <h3> Aragão Burger </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
    
      </ion-label>
  
    </ion-item>

    <br>
  
    <ion-item>
    
      <ion-label>
      
        <img id="logo" src="https://th.bing.com/th/id/OIG.SG4NLN5ApaXa6H_dShrf?pid=ImgGn"> 
        <h3> Araketu Burger </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
    
      </ion-label>
  
    </ion-item>

    <br>
  
    <ion-item>
    
      <ion-label>
      
        <img id="logo" src="https://th.bing.com/th/id/OIG.SG4NLN5ApaXa6H_dShrf?pid=ImgGn"> 
        <h3> SPC Burger </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
    
      </ion-label>
  
    </ion-item>

    <br>
  
    <ion-item>
    
      <ion-label>
      
        <img id="logo" src="https://th.bing.com/th/id/OIG.SG4NLN5ApaXa6H_dShrf?pid=ImgGn"> 
        <h3> Pique Novo Burger </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
    
      </ion-label>
  
    </ion-item>

    <br>
  
    <ion-item>
    
      <ion-label>
      
        <img id="logo" src="https://th.bing.com/th/id/OIG.SG4NLN5ApaXa6H_dShrf?pid=ImgGn"> 
        <h3> Revelção Burger </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
    
      </ion-label>
  
    </ion-item>

    <br>

    <h5> Bebidas </h5>
    <hr style="background-color: rgb(101, 102, 102);">

    <ion-item>
    
      <ion-label>
      
        <img id="logo" src="https://www.imigrantesbebidas.com.br/img/bebida/images/products/full/1984-refrigerante-coca-cola-lata-350ml.jpg?fm=webp&s=933deefcdcfcb4b1484ca4912f212c5a"> 
        <h3> Coca-Cola </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
    
      </ion-label>
  
    </ion-item>

    <br>

    <ion-item>
    
      <ion-label>
      
        <img id="logo" src="https://th.bing.com/th/id/OIG.SG4NLN5ApaXa6H_dShrf?pid=ImgGn"> 
        <h3> Guarana Antártica </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
    
      </ion-label>
  
    </ion-item>

    <br>

    <ion-item>
    
      <ion-label>
      
        <img id="logo" src="https://toninstr.blob.core.windows.net/product/15285-cerveja-heineken-330-ml-long-neck-puro-malt-lager-g.jpg"> 
        <h3> Cerveja Heineken </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
    
      </ion-label>
  
    </ion-item>

    <br>
  
    <ion-item>
    
      <ion-label>
      
        <img id="logo" src="https://www.imigrantesbebidas.com.br/img/bebida/images/products/full/131-cerveja-brahma-lata-350ml.jpg?fm=webp&s=1a61a93be0de6ff077d2ebd88772f93c"> 
        <h3> Cerveja Brahma </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
    
      </ion-label>
  
    </ion-item>

    <br>

    <ion-item>
    
      <ion-label>
      
        <img id="logo" src="https://chamadaposse.bidela.com.br/wp-content/uploads/2019/04/chama-da-posse_269ml_ceveja-antarctica.jpg"> 
        <h3> Cerveja Antartica </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
    
      </ion-label>
  
    </ion-item>

    <br>

    <ion-item>
    
      <ion-label>
      
        <img id="logo" src="https://www.festafacilbetim.com.br/wp-content/uploads/2023/10/SPATEN-PURO-MALTE-600-ML-GELADA.jpg"> 
        <h3> Cerveja Spaten </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
    
      </ion-label>
  
    </ion-item>

    <br>

    <ion-item>
    
      <ion-label>
      
        <img id="logo" src="https://apoioentrega.vteximg.com.br/arquivos/ids/458690-1000-1000/157053.jpg?v=637279264847570000"> 
        <h3> Cerveja Glacial </h3>
        <p>Detail set to true - detail arrow displays on both modes</p>
    
      </ion-label>
  
    </ion-item>

    <br>

</ion-content>
